@tailwind base;
@tailwind components;
@tailwind utilities;

.title-bar {
  -webkit-app-region: drag;
}

.window-control {
  -webkit-app-region: no-drag;
}

body, html {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #171A1F;
}
